<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Kevin Lillemets, veebiprogrammeerimine</title>
</head>
<body>
    <img src="/images/AA.png" alt="Kursuse bänner">
    <h1>Kevin Lillemets, veebiprogrammeerimine</h1>
    <p>See leht on loodud <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ja ei oma mõistlikku sisu.</p>
    <hr>
	<ul>
		<li><a href="/">Avalehele</a></li>
		<li><a href="/eestifilm/">Eesti filmi avaleht</a></li>
	</ul>
	<h2>Seosed isikute, filmide ja ametite vahel</h2>
	<ul><% seosedList.forEach (function(listItem){ %>
		<li>
			<%= listItem.first_name %> <%= listItem.last_name %> on filmis "<%= listItem.title %>" <%= listItem.position_name %><% if (listItem.position_id != rezId){ %>, mängib rolli <%= listItem.role %><% } %>			
		</li>
		<% }); %>
	</ul>
</body>
</html>